:root {
    --dark: #1a1414;
    --accent: orange;
    --white: white;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: var(--white);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    border-radius: 8px;
    border: 3px solid var(--white);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
    border-radius: 8px;
    border: 3px solid var(--white);
}

main {
    padding: 2.5em 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--dark);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: right;
}

li:hover img {
    transform: scale(1.15);
}

img {
    transition: transform .15s ease-in-out;
}

li a {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: var(--dark);
    transition: background-color .2s;
}

li a:hover {
    background-color: var(--accent);
    transition: background-color .2s;
}

.header-container {
    position: absolute;
      width: 100%;
      padding: 10px;
    text-align: center;
    color: var(--white);
    font-size:24px;
    pointer-events: none

}

/*.header-title {*/
/*    display: flex;*/
/*    text-align: center;*/
/*    z-index: 10;*/
/*    margin-left: 47%;*/
/*    margin-right: 47%;*/
/*    padding-top: 6px;*/
/*    color: var(--white);*/
/*}*/


.left-button-element {
    float: left;
}

.title {
    float: right;
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button-group {
    padding-top: 10px;
}


footer {
    text-align: center;
    color: var(--white);
    background-color: var(--dark);
    margin: 10px;
    padding: 3px;
    border-radius: 8px;
}

a:link {
    color: var(--accent);
}

a:visited {
    color: var(--accent);
}

a:active {
    color: var(--accent);
}

footer a:hover {
    transition: color .2s;
    color: var(--white);
}

footer a {
    transition: color .2s;
    color: var(--accent);
}

.dropbtn {
    padding: 14px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color .2s;
    background-color: var(--dark);
    color: var(--white);
}

.dropbtn {

}

.dropbtn > img {
    pointer-events: none
}

.dropbtn:hover, .dropbtn:focus {
    background-color: var(--accent);
    transition: background-color .2s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: var(--dark);
    color: var(--white)
}

.dropdown-content a {
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: var(--accent);
    transition: background-color .2s;
}

.dropdown a {
    background-color: var(--dark);
    transition: background-color .2s;
}

.show {
    display: block;
}

.word-title {
    font-size: 18px;
    font-weight: bold;

}

.word-author {
    color: #666;
}

.user-page-accent {
    color: var(--accent);
}

.form-element {
    padding-bottom: 1em;
}

.warning-button a {
    color: orangered !important;
}