{% extends "base.html" %}

{% block title %}uzi add word{% endblock %}

{% block main %}
<form class="myform" method="post">
    <div class="form-group">
        <div class="form-label">Word</div>
        <div class="form-element"><input id="word" name="word" type="text" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Description</div>
        <div class="form-element"><input id="desc" name="desc" type="desc" required></div>
    </div>

    <div class="form-group">
        <div class="form-label">Category</div>
        <div class="form-element"><input id="category" name="category" type="category" required></div>
    </div>

    <div class="button-group"><input type="submit" value="Submit">
    </div>
</form>
{% endblock %}