{% extends 'base.html' %}

{% block title %}uzi fan | all words {% endblock %}

{% block main %}
<h1>All Words</h1>

<h2>All the words</h2>

{% for word in all_words %}
<div class="word-title"><a href="/word/{{ word[0] }}">{{ word[1] }}</a></div>
<div class="word-description">{{ word[2] }}</div>
<div class="word-author"> submitted by <a href="/user/{{ word[3] }}">{{ word[3] }}</a> on {{ word[4] }}</div>
{% if admin %}
<div class="warning-button"><a href="/remove_word/{{ word[0] }}" > delete this word?</a></div>
{% endif %}
<br>
{% endfor %}
{% endblock %}