<!doctype html>
<html lang="en">
<head>
   <title>{% block title %}{% endblock %}</title>
   <meta name="Description" content="Author: john gasc, Content: A dictionary to convert maori words to english.">
   <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<body>
   <div id="container">
      <header>
         <h1>{% block heading %}{% endblock %}</h1>
      </header>

       <nav>
         <ul>
            <li><a href="\">Home</a></li>
            <li><a href="/login">special 😈</a></li>
            <li><a href="/contact">Contact</a></li>
            <div class="title">j dictionary</div>
          </ul>
      </nav>

      <main>
            {% block main%}{% endblock %}
        </main>


      <footer>
         <p>
            &copy; john gascoign
            <a href="/contact">Contact</a>
         </p>
      </footer>

   </div>
</body>
</html>