{% extends 'base.html' %}

{% block title %}j dictionary | {{ category_data[0][1] }} {% endblock %}

{% block main %}
<h1>{{ category_data[0][1] }}</h1>

<h2>{{ category_data[0][2] }}</h2>

{% for word in category_words %}

<div class="word-title"><a href="/word/{{ word[0] }}">{{ word[2] }} - {{ word[1] }}</a></div>
<div class="word-description">{{ word[3] }}</div>
<div class="word-author"> submitted by <a href="/user/{{ word[4] }}">{{ word[4] }}</a> on {{ word[5] }}</div>
{% if admin %}
<div class="warning-button"><a href="/remove_word/{{ word[0] }}" > delete this word?</a></div>
{% endif %}
<br>
{% endfor %}
{% endblock %}