{% extends 'base.html' %}

{% block title %}uzi fan | {{ cur_category }} {% endblock %}

{% block main %}
<h1>{{ cur_category }}</h1>
<img src="http://pm1.narvii.com/6129/d11b58bc036c7dd9b9f7efc24ab3732b484500f4_00.jpg" width="2", height="2">
<img src="https://www.nicepng.com/png/detail/398-3981153_wtf-only-1-free-zinger-burger-kfc.png">

{% for word in category_words %}
<br>
<div class="word_title">{{ word[1] }}</div> <div class="word_description">{{ word[2] }}</div><div class="word_author"> - submitted by {{ word[3] }}</div>
{% endfor %}
{% endblock %}