{% extends 'base.html' %}

{% block title %}uzi fan | home {% endblock %}

{% block main %}
<body>LIL UZI VERT, ZINGER BURGER AND HATSUNE MIKU FANPAGE</body><br>
<img src="https://i1.sndcdn.com/avatars-BaCcdThWDv5ZV1Vy-45aHfQ-t500x500.jpg"><br>
<img src="https://mixmag.net/assets/uploads/images/_columns2/lil-uzi-vert.jpg"><br>
<blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">So lonely I wonder if you would notice if I
    didn’t exist …Just thoughts from Uzi</p>&mdash; Uzi London 🌎☄️💕® (@LILUZIVERT) <a
        href="https://twitter.com/LILUZIVERT/status/1511722996666290179?ref_src=twsrc%5Etfw">April 6, 2022</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}